--[[
This is an example dnsdist configuration file.
Please refer to the dnsdist documentation
at http://dnsdist.org/README/ for more information.
]]--

-- Listen on 127.0.0.1 on port 53 (default).
setLocal("127.0.0.1")

-- Add ::1 to the list of adresses dnsdist should listen on
addLocal("::1")

-- Instantiate two new downstram server with their default settings
newServer("1.1.1.1")
newServer("8.8.8.8")

